@import "../../App.css";

.project {
  padding-top: 250px;
}

.project__title h2 {
  font-weight: 600;
  color: transparent;
  background: linear-gradient(to right top, #fff, var(--color--primary)) ;
  background-clip: text;
}
.project__title p a {
  text-decoration: none;
  color: var(--color--primary);
  font-weight: 600;
}
.project__title p a:hover {
  text-decoration: underline;
}
.project__wrap {
  background: var(--color-card);
  padding: 20px;
  border-radius: 5px;
  border-bottom: 1px solid var(--color--primary);
  cursor: pointer;
  transition: var(--transition-time);
}
.project__wrap:hover {
  transform: translateY(-10px);
}

.project__wrap .project__icon {
  color: var(--color--primary);
  font-size: 2rem;
}

.project__wrap h2 {
  font-size: 1.4rem; 
  margin-bottom: 15px ;
}

.project__wrap p {
  font-weight: 300;
  line-height: 30px;
}

/* MEDIA */
@media screen and (max-width: 992px ) {
  .project {
    padding-top: 150px;
  }
  .project__wrap h2 {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  .project__wrap p {
    font-size: .8rem;
    line-height: 28px;
  }
  
}