@import "../../App.css";

.main__section {
  padding-top: 250px;
}

/* BTN */
.main__btns {
  margin-top: 50px;
}
.btn.hire__btn {
  background: #fff;
}

.btn.hire__btn > a {
  text-decoration: none;
  background: #fff;
  color: var(--color--primary);
  font-weight: 600;
}

.btn.hire__btn:hover a {
  color: #0E1B31
}

/* TITLE */
.main__title span {
  color: transparent;
  background: linear-gradient(to right top, #fff, var(--color--primary));
  background-clip: text;
}

.main__title {
  font-weight: 600;
  padding-top: 50px;
}

/* CONTENT */
.main__content .summary {
  line-height: 40px;
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.main__content h5 {
  margin-top: 40px;
}
.main__content h2 {
  margin-bottom: 40px;
}

/* IMAGE */
.main__img {
  width: 450px;
  height: 100%;
  border-radius: 10px;
  margin-left: auto;
  display: flex;
  align-items: center;
}
.main__img img {
  width: 100%;
  border-radius: 10px;
}


/* MEDIA */
@media screen and (max-width: 992px) {
  .main__section {
    padding-top: 100px;
  }

  .main__content .summary {
    line-height: 40px;
    font-weight: 300;
    font-size: .8rem;
  }

  .main__img {
    width: 300px;
  }
  .main__btns .btn {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .main__img  {
    margin: 0 auto;
  }
}