@import "../../App.css";


/* https://stackoverflow.com/questions/10666573/tables-border-radius-does-not-function-as-expected */
.edu__table {
  width: 100%;
  height: 100%;
  text-align: center;
  border: none;
  border-radius: 5px;
  overflow: hidden;
}

th, td {
  padding: 0.8rem 1rem;
  font-size: 1rem;
}

thead tr {
  background: rgba(120, 101, 255, .8);
  color: var(--color-font);
}

tr {  
  background: #16264e;
}
tr:nth-child(even) {
  /* background: #0f1f47; */
  
  border-top: 1px solid #0b183a;
  border-bottom: 1px solid #0b183a;
}
td {
  font-size: .8rem;
  color: var(--color-font);
  font-weight: 500;
  vertical-align: middle;
}


/* MEDIA */
@media screen and (max-width: 992px) {
  th, td {
    font-size: .7rem;
    padding: .8rem;
  }
}
@media screen and (max-width: 501px) {
  th, td {
    padding: .6rem .2rem;
  }
  th:first-child,
  td:first-child {
    width: 20%;
  }
  th:nth-child(2),
  td:nth-child(2) {
    width: 30%;
  }
}