.skills__wrapper {
  height: 100%;
  background: #132347;
  padding: 20px;
  border-radius: 10px;
  gap: 3rem;
}
.skill__data {
  margin-bottom: 20px;
  padding: 5px;
}
.skill__data:hover {
  background: rgba(0,0 ,0,.4);
  border-radius: 4px;
}
.skill__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.skill__title h6 {
  margin-bottom: 0;
  font-weight: 500;
}
.skill__title span {
  color: #fff;
}
.skill__bar {
  width: 100%;
  height: 5px;
  position: relative;
  background: #c1ceff;
  border-radius: 5px;
  z-index: 999;
}
.skill__bar-percentage {
  background: #7865ff;
  height: 100%;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  border-radius: 5px;
}

/* MEDIA */
@media screen and (max-width: 992px) {
  .skills__wrapper {
    height: 100%;
    background: #132347;
    padding: 20px;
    border-radius: 10px;
    gap: 1rem;
  }
  .skill__title h6 {
    font-size: .8rem;
  }
  .skill__title span {
    font-size: .7rem;
  }
}
@media screen and (max-width: 421px) {
  .skill__title span{
    display: none;
  }
}