@import "../App.css";

.ex__container {
  padding :20px;
  background: var(--color-card);
  border-radius: 10px;
 
}

.ex__item {
  position: relative;
  padding: 20px 30px;
}
.ex__item::before {
  position: absolute;
  top:0;
  left: 0;
  width: 1px;
  height: 100%;
  content: "";
  background: var(--color--primary);
  color: var(--color--primary);
}

/* LEFT */
.ex__item-left {
  width: 75%;
}
.ex__item .ex__item-left h6 {
  font-size: .8rem;
  opacity: 75%;
  font-weight: 300;
  margin-bottom: 10px;
}

.ex__item .ex__item-left h5 {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.ex__item .ex__item-left p {
  font-weight: 300;
  line-height: 30px;
  font-size: .9rem;
  margin-bottom: 50px;
}

.ex__icon {
  position: absolute;
  top: 20px;
  left: -10px;
  color: var(--color--primary);
  font-size: 1.2rem;
}

/* RIGHT */
.ex__item-right {
  flex: 1;
}
.ex__item-right img {
  width: 100%;
  border-radius: 5px;
}