/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

:root {
  --font-main: "Lato", sans-serif;
  --font-sub: "Rubik", sans-serif;
  
  --color--primary: #7865FF;
  --color-font: #FFF;
  --color-bg: #0E1B31;
  --color-card: #132247;
  
  --modal-bg: #102048;

  --scroll-bar-color: #c1ceff;
  --scroll-bar-thumb-color: #282f4e;

  --transition-time: 0.3s ease;
}

/* COMMON STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
#root {
  background: var(--color-bg);
}
h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-family: var(--font-main);
  margin: 0;
}

h1, h2 {
  font-size: 2rem;
  font-weight: 500;
}

p {
  color: var(--color-font);
  opacity: 75%;
  font-size: 1rem;
  font-family: var(--font-sub);
  font-weight: 400;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  color: unset;
  text-decoration: none;
  font-family: var(--font-main);
}

section, footer {
  padding: 60px 0;
}